html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.novo_servico {
    margin-top: 1%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-image: url(https://c.pxhere.com/images/c9/3e/decea84b528252716573363f25f8-1443553.jpg!d);
    background-color: #4828288a;
}

.Body_novoServico {
    display: flex;
    flex-direction: row-reverse;
    justify-content: row;
    margin-top: -1%;
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: #dccacaa2;
}

.Body_novoServico::-webkit-scrollbar {

    height: 2em;
}

.Body_novoServico::-webkit-scrollbar-thumb {

    background-color: rgb(106, 107, 109);
}

.Body_novoServico::-webkit-scrollbar-track {
    background-color: #4a363656;
}

.pesquisa_servicos {
    background-color: #dccfca87;
}

.perfil_ModelServiços {
    display: flex;
    background-color: #b08c8c;
}

.div_perfil {
    display: flex;
    width: 23.8em;
    color: #652f2f;
    background-color: #9a3e3e5b;
}

.grid_modalServicos {
    background-color: #93717186;
    width: 100%;
    height: 100%;
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
}

.Menu_perfil {
    background-color: #140701;
    height: 5em;
    margin-top: 1%;
    margin-right: -1em;
    text-align: center;
}



.Form_Servico {
    width: 100%;
    height: 28em;
    background-color: #2b242481
}

/*card-cliente*/
.card-cliente {
    margin-top: 10%;
    color: #612121;
}

.TabelaCli {
    display: block;
}

/*Tela Login*/
.Log_Usuarios {
    display: flex;
    align-items: center;
    color: #8a340298;
    background-color: #d8779c1a;
    text-align: center;
}

/*Formulario Cadastro */
.Imagen {
    border: solid;
    background-color: #d3b7aba6;
    top: 100%;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.img-cadastroFornecedor {
    position: absolute;
    margin-left: 120%;
    top: -35%;
    width: 30em;
}

.img-cadastroFornecedor p {
    font-size: 2.1em;
    color: rgb(221, 183, 125);
    border: 2px solid rgba(124, 75, 75, 0.322);
    text-shadow: 2px 2px 2px #000000;
    background-color: #f3a6a673;

}

.perfil_body {
    width: 100%;
    height: auto;
    background-color: #f8f7f795;
}

.titulo_cadastro {
    background-color: #d5a490;
    color: #4e2121;
    font-family: 'Georgia', 'Georgia', sans-serif;
}

.html_fornecedor {
    display: flex;
    align-items: center;
    background-color: #e8d9d962;
    width: 100%;

}

.for_fornecedor {
    width: 40em;
    margin-left: 34.7%;
    color: #8a340298;
    text-align: center;
}

.perfil_Fornecedor {
    display: flex;
    width: 50em;
    justify-content: center;
    flex-direction: column;
    height: 30em;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: auto;
    background-color: #FFDEAD;
    text-align: center;
}


.for_cliente {
    align-items: center;
    width: 40em;
    margin-top: 10%;
    margin-left: 34.7%;
    margin-right: 40%;
    color: #8a340298;
    background-color: #d8779c1a;
    text-align: center;

}

.for_for {
    border: 1px solid #8a340298;
    background-color: rgba(145, 103, 78, 0.596);
    margin-top: '1%'
}

.for_Servicos {
    border: 1px solid #dcdad998;
    background-color: rgba(42, 19, 5, 0.596);

}

/*fundo da tela*/
.body_imgHome {
    background-image: url(https://www.tuacasa.com.br/wp-content/uploads/2019/10/festa-de-aniversario-00.jpg);
    background-size: cover;
}

/*Menu txt*/
.menu-div {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    font-size: 1.5em;
    border: solid #D4AA93;
    justify-content: space-between;

}

.menu-div a {
    border: solid #d3b7ab98;
    background-color: #55250a98;
    color: #f3a6a6;
    ;

}

/*Menu organização*/
.nav-MenuHome ul li {
    display: inline;
    margin-right: 10px;
    text-shadow: 2px 2px 2px black;
}

.nav-MenuHome ul ul {
    display: none;
}

.nav-MenuHome ul li:hover ul {
    display: block;
}


/*sub de cadastro*/

.subs-Cadastro {
    display: none;
    width: 8em;
    position: absolute;
    text-align: center;
    right: 16.5em;
    top: 2.5em;

}

.subs-Cadastro a {
    border: 1px solid #D3B7AB;
    background-color: #58270bcb;
    color: #f3a6a6;
    ;
    display: block;
    margin-bottom: -20px;
    padding: 10px 10px;
    text-decoration: none;
    margin-top: 5px;
    white-space: nowrap;

}

/*sub categorias de categoria */
.subs-catego {
    display: none;
    width: 8em;
    position: absolute;
    text-align: center;
    right: 1.2em;
    top: 3.8em;
}

/* textos da sub de categoria*/
.subs-catego a {
    border: 1px solid #D3B7AB;
    background-color: #58270bcb;
    color: #f3a6a6;
    display: block;
    margin-bottom: -20px;
    padding: 10px 10px;
    margin-top: 5px;
    white-space: nowrap;
}

/*centro site*/
.div-meiosite {
    height: 35em;
    align-items: center;

}

/*Texto do meio do site*/
.div-meiosite p {

    color: #ffffff;
    font-size: 3em;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 8em;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000000;
}